<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= "#{@user.first_name} #{@user.last_name}" %>,</p>
    <p>
      Congratulations. Your application to participate in the Virtual Data
      Collaboratory has been approved.  You may now proceed to <a href="<%= @login_url %>">login</a> with your NetId and password.
    </p>
  </body>
</html>
