<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= "#{@user.first_name} #{@user.last_name}" %>,</p>
    <p>
      You have successfully applied to participate in the 
      Virtual Data Collaboratory.  Your application is under 
      review by the VDC Administration.  You will receive an 
      email response within the next few days.
    </p>
  </body>
</html>
