<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for registering with the VDC!</h1>
    <p>
      You have successfully registered and are waiting for approval from our administrators.
      You will receive another email once you are approved.
    </p>
    <p>Thanks for signing up and have a great day!</p>
  </body>
</html>
