<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pending registration with the VDC for <%= @user.email %></h1>
    <p>
      Please sign in to the VDC to review and approve the pending registration.
    </p>
  </body>
</html>
