<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The VDC Person entry has been updated for <%= @user.email %></h1>
    <p>
      This is a courtesy email sent to notify administrators of this update.
    </p>
  </body>
</html>
