<%# Modified from Hyrax Gem 1.0.4 %>

<div class="document col-xs-6 col-md-3">
  <div class="thumbnail">
    <%# collection_thumbnail(document, {}, counter: document_counter_with_offset(document_counter)) %>
    <%= image_tag("project_logo.jpg") %>
    <div class="caption">
      <%= render_document_partials document, blacklight_config.view_config(:gallery).partials, :document_counter => document_counter %>
    </div>
  </div>
</div>
