<%# Modified from Hyrax Gem 1.0.4 %>

    <div class="col-sm-3">
      <span class="<%# Hyrax::ModelIcon.css_class_for(Collection) %> collection-icon-search"></span>      
      <%= image_tag "project_logo.jpg" %>
    </div>

