  <p>
  While all published data will remain permanently in the VDC, the VDC reserves the right to close dormant 
  accounts, defined as accounts that have not been visited via login in a year.  Members will be alerted after 
  a year of no login that their account will be closed in 3 months due to inactivity.  To maintain the account 
  after notice, simply login.  One week before termination, the member will be alerted a second time.  5 
  Business days later, the account will be terminated.  Files on terminated accounts that have not been 
  published for open access by others will be maintained as offline storage for six months after termination.  
  Files may be obtained by contacting XXXX.
  </p>
