<%# Similar to Hyrax Gem 2.0.0 view
    app/views/hyrax/base/_form_files.html.erb %>

<hr />
     <div id="readme-fileupload">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="<%= main_app.root_path %>"></noscript>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

        <h3><%= t('hyrax.base.form_files.local_readme_upload') %></h3>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
     </div>
