<%# Similar to Hyrax Gem 2.0.0 view
    app/views/hyrax/base/_form_files.html.erb %>

<hr />
     <div id="readme-fileupload">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="<%= main_app.root_path %>"></noscript>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

        <h3><%= t('hyrax.base.form_files.local_readme_upload') %></h3>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-xs-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add folder...</span>
                    <input type="file" name="files[]" multiple directory webkitdirectory>
                </span>
                <button type="reset" class="btn btn-warning cancel hidden">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <span>Cancel upload</span>
                </button>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-xs-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
     </div>
