<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <div class="inline-text">
    <h1><%= t("hyrax.works.create.header", type: curation_concern.human_readable_type)%> </h1>
    </br>
    <p class="help-links"><%= t("hyrax.works.create.helper.question")%>
      <%=link_to t("hyrax.works.create.helper.guide"), "https://data-services-pre.datacollaboratory.org/dashboard/collections/5b91d787-c187-4472-90da-c2ecf5613ae7?locale=en"%></p>
  </div>
<% end %>

<%= render 'form' %>
